
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <!-- Main Site -->
    <main id="main">
      <div class="container">
          <div class="box-nav d-flex-justify-between">
            <div class="filter">
              <a href="/"><i class="fas fa-angle-double-left"></i>Todos Professores</a>
            </div>
          </div>
          <div class="form-title text-center">
              <h2 class="text-dark">Novo Professor</h2>
              <span class="text-light">Use esse form para cadastrar um novo professor</span>
          </div>
              <!-- include add-professor -->
              <%- include('include/_formP') %>
              <!-- /include add-professor -->
      </div>
  </main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->