
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
     <!-- Main Site -->
     <main id="main">
      <div class="container">
          <div class="box-nav d-flex-justify-between">
            <div class="filter">
              <a href="/"><i class="fas fa-angle-double-left"></i>Todos Alunos</a>
            </div>
          </div>
          <div class="form-title text-center">
              <h2 class="text-dark">Novo aluno</h2>
              <span class="text-light">Use esse form para criar uma novo aluno</span>
          </div>
          <!-- include add-turma -->
          <%- include('include/_formA') %>
          <!-- /include add-turma -->

      </div>
  </main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->