 <!-- form handling-->
 <form method="POST" id="update_aluno">
    <div class="nova_aluno">
        <div class="form-group">
            <label for="name" class="text-light">Nome Aluno</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="matricula" placeholder="Matricula">
            <input type="text" name="email" placeholder="Email Responsável">
            <input type="text" name="turma" placeholder="turma">
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Salvar</button>
            </div>
        </div>
    </div>
</form>