 <!-- form handling-->
 <form method="POST" id="update_turma">
    <div class="nova_turma">
        <div class="form-group">
            <label for="name" class="text-light">Nome Disciplina</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" placeholder="Disciplina">
          

        </div>
        <div class="form-group">
            <label for="name" class="text-light">Horário</label>
            <input type="text" name="horario" placeholder="Horário">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Salvar</button>
        </div>
    </div>
</form>