<tr>
    <td>1</td>
    <td>Luan</td>
    <td>Luan@gmail.com</td>
    <td>4ยบ C</td>
    <td>
        <a href="/update-aluno" class="btn-border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i> 
            </span>
        </a>
        <a class="btn-border-shadow delete">
            <span class="text-gradient">
                <i class="fas fa-times"></i> 
            </span>
        </a>
    </td>
</tr>