<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../assets/css/style.css">

</head>
<body>
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="../index.html" class="nav-brand text-dark">ADMIN</a>
                    </div>
                </div>
            </nav>
        </header>
    <!--/ Header -->
    <!-- Main Site -->
        <main id="main">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                  <div class="filter">
                    <a href="../index.html"><i class="fas fa-angle-double-left"></i>Todos Professores</a>
                  </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">Novo Professor</h2>
                    <span class="text-light">Use esse form para cadastrar um novo professor</span>
                </div>
                <!-- form handling-->
                <form method="POST" id="update_professor">
                    <div class="novo_professor">
                        <div class="form-group">
                            <label for="name" class="text-light">Nome professor</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" placeholder="Nome">
                            <label for="responsavel" class="text-light">Responsável?</label>
                            <input type="radio" name="sim_nao" id="sim">Sim</input>
                            <input type="radio" name="sim_nao" id="Nao" checked>Não</input>
                            <input type="text" name="Turma" placeholder="Turma">
                            <input type="text" name="Disciplina" placeholder="Disciplina">
                        </div>
                    </div>
                </form>
            </div>
        </main>
    <!-- /Main Site -->

</body>
</html>